.premium-page {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Cambiar height a min-height */
    padding: 20px;
    /* Agregar padding */
}

.premium-box {
    background-color: #CAD6FF;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    /* Agregar max-width */
    width: 100%;
    /* Agregar width */
    border-radius: 30px;
}

.feature-box {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.blue-box {
    background-color: #5787E5;
}

.green-box {
    background-color: #89FDE8;
}

.light-blue-box {
    background-color: #96DFF5;
}

h1 {
    text-align: center;
    overflow-wrap: break-word;
    /* Agregar esta línea */
    word-break: break-word;
    /* Agregar esta línea */
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 0 auto;
}